:root {
    --bg-color: #030303;
    --crt-bg: #070b07;
    --green: #00bb00;
    --dark-green: #005500;
}

body {
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#game {
    background-color: var(--crt-bg);
    border: 2px solid var(--dark-green);
    box-shadow: 0 0 20px var(--dark-green),
                inset 0 0 10px var(--dark-green);

    padding: 20px 20px;
    border-radius: 6px;

    outline: none;
    user-select: none;

    color: var(--green) ;
    text-shadow: 0 0 4px var(--green);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
}

#instructions {
    color: var(--green);
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
}