:root {
    --body-bg: #000000;
    --terminal-bg: #070b07;
    --green: #00bb00;
    --dark-green: #005500;

    --terminal-width: 500px;
    --terminal-height: 500px;
}

body {
    /* Background */
    background-color: var(--body-bg);

    /* Unwanted Interactivity */
    overflow: hidden;
}

#terminal {
    /* Center */
    display: flex;
    justify-content: center;
}

#game {
    --font-size: min(26px, calc(var(--terminal-height) / (var(--grid-rows) * 2)));
    --width: calc(var(--grid-cols) * (var(--font-size) * 0.5) * 4);
    
    /* Dimensions */
    height: var(--terminal-height);
    width: max(var(--terminal-width), var(--width));
    
    /* Center */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

    /* Border and Background */
    background-color: var(--terminal-bg);
    border: 2px solid var(--dark-green);
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 0 200px var(--dark-green), inset 0 0 10px var(--dark-green);

    /* Text Format */
    color: var(--green);
    text-shadow: 0 0 4px var(--green);
    font-size: var(--font-size);
    font-family: monospace;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
    white-space: pre;

    /* Unwanted Interactivity */
    outline: none;
    user-select: none;
}

.shake {
    animation: shake-animation 0.4s ease-in-out;
}

@keyframes shake-animation {
    0% { transform: translateX(0); }
    20% { transform: translateX(-8px); }
    40% { transform: translateX(8px); }
    60% { transform: translateX(-4px); }
    80% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}